.button {
  color: #fff;
  border: 0;
  background-color: #ee6c4d;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button.light {
  color: #ee6c4d;
  background-color: #fff;
}
.button.light:hover {
  color: #ee6c4d;
  background-color: rgb(228, 228, 228);
}

.button:hover {
  background-color: #dc5a3b;
}
